# Used by mysql module
mysql.pass: '123123'
# Used by keystone module
keystone.token: ADMIN_TOKEN
keystone.endpoint: http://172.16.0.8:35357/v2.0

glance:
  public_ip: 192.168.0.217
  internal_ip: 172.16.0.8
  admin_ip: 172.16.0.8
  mysql:
    ip: 172.16.0.8
    password: 'pass'
  keystone:
    internal_ip: 172.16.0.8
    user:
      password: 'pass'
      email: '123@123.com'
  api-config:
    DEFAULT:
      debug: False
      verbose: False
      rabbit_host: 172.16.0.8
      rabbit_password: guest
  reg-config:
    DEFAULT:
      debug: False
      verbose: False

mysql:
  server:
    root_password: '123123'
    bind-address: 0.0.0.0
{#- vim:ft=sls
-#}
